<% if @question.errors.any? %>
	<ul>
	<% @question.errors.full_messages.each do |err| %>
			<li><%= err %></li>
		<% end %>
	</ul>
<% end %>



<%= form_for @question do |f| %>
	<%= f.label :title %>
	<%= f.string :title %>
	<%= f.label :body %>
	<%= f.text_area :body %>

	<%= f.submit %>
<% end %>
