<h2><%= @question.title %></h2>

<%= @question.body %>

<h3> Your Answer: </h3>
<%= form_for [@question, @answer] do |a| %>
  <%= a.label :body %>
  <%= a.text_area :body %>

  <%= a.submit %>
<% end %>